$instagram-blue-background: #3897f0;
$instagram-blue-border: #3897f0;
$instagram-white: #fff;
$instagram-grey: #999;
$instagram-light-grey: #e0e0e0;
$instagram-grey-fullscreen: #fdfdfd;
$instagram-header-icon: #4a4a4a;
$instagram-red: #f04752;


.footer-section {
  width: 100%;
  // background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 10px;
  margin: 10px;
  width: 75%;
  background-color: transparent;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  // background-color: red;
}

.navLinks {
  background-color: transparent;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  // background-color: orange;
}

.navLinks > li {
  font-size: 75%;
  font-weight: bold;
  margin: 5px;
  white-space: nowrap;
  text-align: center;
  // background-color: yellow;
}

#copyright {
  // color: grey;
  color: inherit;
  text-decoration: none;
  letter-spacing: 1px;
}
