
.footer-section {
  width: 100%;
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 10px;
  margin: 10px;
  // max-width: 75%;
  width: 75%;
  background-color: transparent;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  background-color: red;
}

.navLinks {
  background-color: transparent;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: orange;
}

.navLinks > li {
  font-size: 75%;
  font-weight: bold;
  margin: 5px;
  // width: 100%;
  white-space: nowrap;
  text-align: center;
  background-color: yellow;
}

#copyright {
  color: grey;
}
