$instagram-blue-background: #3897f0;
$instagram-blue-border: #3897f0;
$instagram-white: #fff;
$instagram-grey: #999;
$instagram-light-grey: #e0e0e0;
$instagram-grey-fullscreen: #fdfdfd;
$instagram-header-icon: #4a4a4a;
$instagram-red: #f04752;

main {
  background-color: $instagram-grey-fullscreen;
  display: flex;
  justify-content: center;
  align-items: center;

}

.feedItem-container {
  margin: 10px;
  padding: 3px;
}

.feedItem-container > img {
  width: 600px;
}



.logout-button {
  background-color: red;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}
