$instagram-blue-background: #3897f0;
$instagram-blue-border: #3897f0;
$instagram-white: #fff;
$instagram-grey: #999;
$instagram-light-grey: #e0e0e0;
$instagram-grey-fullscreen: #fdfdfd;
$instagram-header-icon: #4a4a4a;
$instagram-red: #f04752;

.closeMark {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 20px;
}

.photo-modal-outer {
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  padding:0;
  margin:0;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo-modal-inner {
  display: flex;
  flex-direction: row;
  // background-color: orange;
}

.duo-container {
  // background-color: green;
  display: flex;
}

.picture-box {
  // background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actualPhoto {
  min-width: 25vw;
}

.detail-container {
  // background-color: purple;
  background-color: $instagram-white;
  padding: 2px;
  display: flex;
  flex-direction: column;

  border-width: 1px;
  border-style: solid;
  border-color: $instagram-light-grey;
}


.feedItem-container2 {
  // background-color: orange;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.info-top2 {
  // background-color: red;
  padding: 0px 3px 0px 3px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  cursor:default;
}

.thumbnailPic-container2 {
  height: 50px;
  width: 50px;

  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnailPic-container2 > img {
  border-radius: 100%;
  height: 35px;
  width: 35px;
}


#info-username2 {
  font-size: 110%;
  font-weight: bold;
  margin: 5px 0px 5px 0px;
  letter-spacing: .75px;
}

.edit-form {
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  margin: 0px 5px 0px 5px;
}

.edit-input {
  color: black;
  font-size: 90%;
  font-weight: 300;
  margin: 2px 0px 2px 0px;
  height: 10px;
  width: 200px;
}

.edit-submit {
  height: 17px;
  background-color: $instagram-blue-background;
  transition: background-color 0.5s ease;
  color: $instagram-white;
  font-weight: 600;
  font-size: 90%;
  line-height: 15px;
  border-width: 0px;
  border-radius: 3px;
  cursor: pointer;
  margin: 2px 0px 2px 0px;
  letter-spacing: 0.3px;
}

.edit-submit:active {
  background-color: $instagram-white;
}

.deleteButton2 {
  height: 15px;
  background-color: $instagram-grey;
  transition: background-color 0.5s ease;
  color: $instagram-white;
  font-weight: 600;
  font-size: 90%;
  line-height: 15px;
  border-width: 0px;
  border-radius: 3px;
  cursor: pointer;
  margin: 2px 0px 2px 0px;
  letter-spacing: 0.3px;
}

.deleteButton2:active {
  background-color: $instagram-white;
}



.info-middle {
  flex: 1;
}

/////////////////////


#line2 {
  height: 1px;
  background-color: $instagram-light-grey;
  margin: 0px 3px 0px 3px;
}


.likes-show-container {
  // background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 10px;

  // margin: 3px 0px 3px 0px;
  // padding: 3px 0px 3px 0px;
    // padding: 5px;
}

.likesNumber {
  // background-color: pink;
  // font-size: 120%;
  color: black;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.spacer {
  // background-color: red;
  width: 6px;
  height: 6px;
}

.likesText {
  // background-color: lightgreen;
  // font-size: 120%;
  color: black;
  font-weight: 500;
  letter-spacing: 0.3px;
}


#info-uploadDate2 {
  // background-color: yellow;

  color: $instagram-grey;
  font-size: 80%;
  // margin: 5px 0px 0px 0px;
  // padding: 5px 0px 5px 0px;
    // padding: 5px;
  letter-spacing: 0.3px;
  padding: 10px;
}

//
//
// #info-addComment2 {
//   color: $instagram-grey;
//   font-size: 95%;
// }
