$instagram-blue-background: #3897f0;
$instagram-blue-border: #3897f0;
$instagram-white: #fff;
$instagram-grey: #999;
$instagram-light-grey: #e0e0e0;
$instagram-grey-fullscreen: #fdfdfd;
$instagram-header-icon: #4a4a4a;
$instagram-red: #f04752;


.bio-container {
  background-color: blue;
  padding: 5px 150px 5px 150px;
  background-color: $instagram-grey-fullscreen;
  border-width: 1px;
  border-style: solid;
  border-color: $instagram-light-grey;
}

.bio-subcontainer {
  // background-color: green;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: rows;
  height: 200px;
  padding: 0px 50px 0px 50px;
}

.pic-container {
  // background-color: lightgreen;
  flex: 1;
  display: flex;
  justify-content: center;
}

.profilePhoto {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  margin: 5px 50px 5px 50px;
}

.bio-sub-sub {
  // background-color: pink;
  padding: 10px;
  flex: 3;
}

.userAttributes {
  // background-color: yellow;
  width: 60%;
}

.whichUser {
  // background-color: orange;
  display: flex;
  flex-direction: rows;
  justify-content: left;
  align-items: center;
}

.username {
  // background-color: lightgreen;
  font-weight: bold;
  font-size: 200%;
  padding: 5px;
  margin: 5px 50px 5px 5px;
}

.logout-button {
  background-color: $instagram-red;
  cursor: pointer;
  padding: 10px;
  margin: 5px 50px 5px 50px;
}

.tagline {
  // background-color: lightblue;
  font-size: 150%;
  padding: 5px;
  margin: 5px;
}




.portfolio-container {
  background-color: $instagram-grey-fullscreen;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.portfolio {

}

.photoItem-container {
  margin: 10px;
  padding: 3px;
}

.photoItem-container > img {
  width: 200px;
}

.noPhoto-container {
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: rows;
  min-height: 900px;
}

.space {
  width: 10px;
}

.noPhoto-container > img {
  width: 50px;
}
