$instagram-blue-background: #3897f0;
$instagram-blue-border: #3897f0;
$instagram-white: #fff;
$instagram-grey: #999;
$instagram-light-grey: #e0e0e0;
$instagram-grey-fullscreen: #fdfdfd;
$instagram-header-icon: #4a4a4a;
$instagram-red: #f04752;

.profile-page-container{
  max-height: 100vh;
  max-width: 100vw;
}


.bio-container {
  padding: 5px 150px 5px 150px;
  background-color: blue;
  background-color: $instagram-grey-fullscreen;
  // border-width: 1px;
  // border-style: solid;
  // border-color: $instagram-light-grey;
}

.bio-subcontainer {
  // background-color: green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: rows;
  height: 220px;
  padding: 0px 60px 0px 60px;
}

.pic-container {
  // background-color: lightgreen;
  flex: 1;
  display: flex;
  justify-content: center;
}

.profilePhoto {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  margin: 5px 50px 5px 50px;
}

.bio-sub-sub {
  // background-color: pink;
  padding: 10px;
  flex: 3;
  display: flex;
  flex-direction: column;
}


.title {
  // background-color: orange;
  display: flex;
  flex-direction: rows;
  justify-content: left;
  align-items: center;
}

.username {
  // background-color: lightgreen;
	font-weight: 100;
  font-size: 200%;
  padding: 5px;
  margin: 5px 25px 5px 5px;
}

.logout-button {
  padding: 7px 35px 7px 35px;
  margin: 5px 50px 5px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: $instagram-light-grey;
  transition: background-color 0.5s ease;
  background-color: $instagram-white;
  font-size: 120%;
  font-weight: 400;
  line-height: 15px;
  border-radius: 3px;
  cursor:pointer;
}

.userAttributes {
  // background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 15px 0px 10px 0px;
}

.userAttributes > p {
  // background-color: lightblue;
  font-size: 120%;
  padding: 10px 10px 10px 5px;
  margin: 0px 10px 0px 5px;
  white-space: nowrap;
}

.name {
  font-weight: 400;
}
.tagline {
  font-weight: 200;
}

.portfolio-container {
  // background-color: blue;
  background-color: $instagram-grey-fullscreen;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
  margin: 0px 100px 0px 100px;
}

.portofolio-subcontainer {
}

.portfolio {

}

.photoItem-container {
  margin: 10px;
  padding: 3px;
}

.photoItem-container > img {
  width: 250px;
}

.noPhoto-container {
  // background-color: orange;
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: left;
  min-height: 600px;
  padding: 10px;
}


.noPhoto-container > p {
  font-size: 150%;
}
.space {
  width: 20px;
}

.noPhoto-container > img {
  width: 35px;
}
