


$instagram-blue-background: #3897f0;
$instagram-blue-border: #3897f0;
$instagram-white: #fff;
$instagram-grey: #999;
$instagram-light-gray: #e0e0e0;

body {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-decoration: none;
  font-size: 12px;
}


.auth-container {
  background-color: $instagram-white;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  margin: 10px;
}


.auth-outer {
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  flex: 1;
  flex-direction: row;
}

.auth-inner {
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left {
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hero {
  padding: 10px;
  margin: 10px;
  background-color: gray;
  height: 400px;
  width: 200px;
}

.heroTransition {
  padding: 10px;
  margin: 10px;
  background-color: lightgreen;
  height: 150px;
}

.right {
 background-color: transparent;
 padding: 10px;
 margin: 10px;
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: left;
}

.subright {
  margin: 10px;
  // background-color: pink;
}

.auth-form-container {
  // background-color: gray;
}

.auth-form-contents {
  padding: 10px;
  margin: 0 10px;
  color: $instagram-grey;
  background-color: $instagram-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: $instagram-light-gray;
}

h1 {
  font-weight: bold;
  padding: 10px;
  font-size: 200%;
  color: black;
}

input {
  width: 200px;
  padding: 5px;
  margin: 3px;
  font-size: 100%;
  // font-weight: 60%;
  color: $instagram-white;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #ededed;
}

//below four selectors are the placeholder text in the fields
::-webkit-input-placeholder {
  color: rgb(175, 175, 175);
}

:-moz-placeholder {
  color: rgb(175, 175, 175);
}

::-moz-placeholder {
  color: rgb(175, 175, 175);
}

:-ms-input-placeholder {
  color: rgb(175, 175, 175);
}

.auth-button {
  width: 100%;
  border-width: 0px;
  background-color: $instagram-blue-background;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  border-radius: 3px;
  margin-bottom: 0px;
}

.copy{
  text-align: center;
  line-height: 150%;
  color: gray;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

#top {
  padding: 3px;
  margin-bottom: 10px;
}

#mid {
  padding: 3px;
  margin-bottom: 10px;
}

#bottom {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 90%;
}

#bold {
  font-weight: bold;
}

.toggle-container {
  // background-color: orange;
}

.toggle-contents {
  padding: 15px;
  margin: 10px;
  text-align: center;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: $instagram-light-gray;
}

a.auth-link-toggle {
  color: $instagram-blue-background;
}

.footer {
  padding: 10px;
  margin: 10px;
  background-color: transparent;
  height: 100px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

ul {
  background-color: transparent;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  font-size: 75%;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

#copyright {
  color: gray;
}

.logout-button {
  background-color: red;
}
