
body {
  font-family: sans-serif;
  color: black;
  text-decoration: none;
}


.auth-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  margin: 10px;
}


.auth-outer {
  background-color: gray;
  padding: 10px;
  margin: 10px;
  flex: 1;
  flex-direction: row;
}

.auth-inner {
  background-color: orange;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left {
  background-color: green;
  padding: 10px;
  margin: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  padding: 10px;
  margin: 10px;
  background-color: gray;
  height: 400px;
  width: 200px;
}

.right {
 background-color: lightgreen;
 padding: 10px;
 margin: 10px;
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.subright {
  margin: 10px;
  background-color: pink;
}

.auth-form-container {
  background-color: gray;
}

.auth-form-contents {
  padding: 10px;
  margin: 10px;
  display: inline-block;
  font-size: 20px;
  background-color: red;
}

.toggle-container {
  padding: 10px;
  background-color: blue;
}

.toggle-contents {
  padding: 10px;
  margin: 10px;
  background-color: orange;
}

.footer {
  padding: 10px;
  margin: 10px;
  background-color: gray;
  height: 100px;
  display: flex;
  flex-direction: column;
}

ul {
  background-color: orange;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  font-size: 75%;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

.button {
  text-align: center;
  background-color: yellow;
  box-shadow: none;
}
