$instagram-blue-background: #3897f0;
$instagram-blue-border: #3897f0;
$instagram-white: #fff;
$instagram-grey: #999;
$instagram-light-grey: #e0e0e0;
$instagram-grey-fullscreen: #fdfdfd;
$instagram-header-icon: #4a4a4a;
$instagram-red: #f04752;


.upload-page-container {
  // background-color: pink;
  background-color: $instagram-grey-fullscreen;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.upload-sub-container {
  // background-color: lightgreen;
  // background-color: $instagram-grey-fullscreen;
  flex: 1;
  display: flex;
  margin: 10px;
  padding: 10px;

}

.sub-sub-container {
  // background-color: green;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: top;
}

.upload-form-container {
  background-color: lightblue;
  margin: 5px;
  padding: 3px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.option1-box {
  color: $instagram-grey;
  background-color: $instagram-white;
  margin: 10px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: $instagram-light-grey;
  // flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 100%;

}

.textInput {
  // background-color: blue;
  // flex: 2;
}


.cloudinary-container {
  background-color: orange;
  margin: 10px;
  padding: 10px;
  // flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone-container{
  background-color: red;
  width: 90%;
  height: 90%;
}

.submit-container {
  // background-color: yellow;
  // flex: 1;
}

.option2-box {
  background-color: grey;
  margin: 10px;
  padding: 10px;
  // width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: $instagram-light-grey;
  color: $instagram-grey;
  background-color: $instagram-white;
  // flex: 1;
}

.optionText {
  background-color: yellow;
  color: black;
  font-size: 120%;
  padding: 10px;
  margin: 10px;
  white-space: nowrap;
  font-weight: 300;
  flex: 1;
}

.option2-form-container {
  background-color: grey;
  flex: 4;
}

.upload-form {
  margin: 10px;
  padding: 10px;
}
